<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editing page</title>
</head>
<body>

<!--    form-->
<form th:method="POST" th:action="@{/edit}" th:object="${placeOfWork}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="city">Enter city: </label>
    <input type="text" th:field="*{city}" id="city"/>
    <br/>
    <label for="position">Enter position: </label>
    <input type="text" th:field="*{position}"  id="position"/>
    <br/>
    <label for="start">Enter start: </label>
    <input type="text" th:field="*{start}"  id="start"/>
    <br/>
    <label for="finish">Enter finish: </label>
    <input type="text" th:field="*{finish}"  id="finish"/>
    <br/>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>