<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css"/>
    <title>Home page</title>
</head>
<body>
<img width="20%" align="right" th:src="@{/photo.jpg}" alt="My photo"/>
<h1>РЕЗЮМЕ</h1>
<p>для входа/выхода из системы перейдите по ссылке, затем введите Ваш логин и пароль:</p>
<a th:href="@{/login}">login</a>
<br/>
<a th:href="@{/logout}">logout</a>
<br/>
<p>для редактирования данных владельца резюме, перейдите по ссылке:</p>
<a th:href="@{/admin/edit_owner}">edit resume owner data</a>
<br/>
<p>для добавления места работы, перейдите по ссылке:</p>
<a th:href="@{/admin/add_place}">add place of work</a>
<br/>
<h2 th:utext="${employee.getLastName()}">last_name</h2>
<h2 th:utext="${employee.getName()}">name</h2>
<h2 th:utext="${employee.getMiddleName()}">middle_name</h2>
<p>Год рождения:</p>
<a th:text="${employee.getBirthday()}">birthday</a>
<P>Пол:</P>
<a th:text="${employee.getGender()}">gender</a>
<p>Место жительства:</p>
<a th:text="${employee.getCity()}">city</a>
<p>Телефон/Telegram:</p>
<a th:text="${employee.getPhone()}">phone</a>
<p>Email:</p>
<a th:text="${employee.getEmail()}">email</a>
<p>Наличие автомобиля и права управления:</p>
<a th:text="${employee.getAuto()}">auto</a>
<p>Образование:</p>
<a th:text="${employee.getEducation()}">education</a>
<p>Иностранные языки:</p>
<a th:text="${employee.getLanguages()}">languages</a>
<p>Желаемая должность:</p>
<a th:text="${employee.getSpecialization()}">specialization</a>
<p>Профессиональные навыки:</p>
<a th:text="${employee.getSkills()}">skills</a>
<p>Дополнительная информация:</p>
<a th:text="${employee.getAdditionalInformation()}">additional_information</a>
<p>Опыт работы:</p>
<div th:each="place : ${placeOfWork}">
    <p>Время работы (время поступления, время увольнения, общее время):</p>
    <a th:text="${place.getStart()}">start</a>
    <br/>
    <a th:text="${place.getFinish()}">finish</a>
    <br/>
    <a th:text="${place.getDuration()}">duration</a>
    <p>Наименование:</p>
    <a th:text="${place.getName()}">name</a>
    <p>Место нахождения. Город:</p>
    <a th:text="${place.getCity()}">city</a>
    <p>Должность:</p>
    <a th:text="${place.getPosition()}">position</a>
    <p>Трудовые обязанности: </p>
    <a th:text="${place.getDescription()}">description</a>
    <br/>
</div>
<p>Хобби:</p>
<a th:text="${employee.getHobby()}">hobby</a>
</body>
</html>